#display .block {
  background-color: red;
}

#display .inline {
  background-color: blue;
  color: whitesmoke;
  text-decoration: none;
}

#display .hidden {
  background-color: greenyellow;
  margin-block: 1rem;
}

#display .inline-block {
  background-color: darkgoldenrod;
  display: inline-block;
}
