#position {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

article {
  background-color: aqua;
  padding: 0.5rem;
}

article.static {
  background-color: aquamarine;
}

article.relative {
  width: 300px;
  position: relative;
}

article.sticky {
  background-color: fuchsia;
  position: sticky;
}

article.relative.stand-alone {
  background-color: darkorange;
}

article.fixed {
  background-color: chocolate;

  position: fixed;
  bottom: 0;
  right: 0;
}

article.relative.parent {
  height: 200px;
}

article.absolute {
  background-color: chartreuse;
  position: absolute;
}
